@defer () {
<!-- Contact Section -->
<section id="contact" class="contact section mt-150">
  <!-- Section Title -->
  <div class="container section-title text-center" data-aos="fade-up" data-aos-delay="300">
    <h2>Contacto</h2>
    <p>Nos encantaría saber de ti. Completa el formulario a continuación o utiliza los detalles de contacto para
      comunicarte con nosotros.</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div
          class="info-item flex-fill d-flex flex-column justify-content-center align-items-center text-center bg-light p-4 shadow-sm rounded">
          <i class="bi bi-geo-alt display-4 text-primary mb-3"></i>
          <h3 class="h5">Dirección</h3>
          <p>Carretera al CUCBA 1204, interior 1, Parque Industrial San José del Astillero II, Cam. Ramón Padilla
            Sánchez 1204, San Juan de Ocotán, 45019 Zapopan, Jal</p>
        </div>
      </div><!-- End Info Item -->

      <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div
          class="info-item flex-fill d-flex flex-column justify-content-center align-items-center text-center bg-light p-4 shadow-sm rounded">
          <i class="bi bi-envelope display-4 text-primary mb-3"></i>
          <h3 class="h5">Envíanos un WhatsApp</h3>
          <a href="https://wa.me/+523315872039?text=Me%20gustaría%20solicitar%20informes" class="whatsapp"
            target="_blank"><i class="fa fa-whatsapp whatsapp-icon fa-3x"></i></a>
        </div>
      </div><!-- End Info Item -->

      <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div
          class="info-item flex-fill d-flex flex-column justify-content-center align-items-center text-center bg-light p-4 shadow-sm rounded">
          <i class="bi bi-telephone display-4 text-primary mb-3"></i>
          <h3 class="h5">Llámanos</h3>
          <p>+52 33 1587 2039</p>
        </div>
      </div><!-- End Info Item -->


    </div>

    <div class="row gy-4 mt-5 justify-content-center">
      <div class="col-lg-6 d-flex flex-column" data-aos="fade-up" data-aos-delay="300">
        <div class="flex-fill shadow-sm rounded">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7462.643753467871!2d-103.513443!3d20.737744!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b1e72591a117%3A0xb86be62e3174df93!2sBolsas%20el%20Guajiro!5e0!3m2!1ses-419!2smx!4v1720538634074!5m2!1ses-419!2smx"
            frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" class="rounded"></iframe>
        </div>
      </div><!-- End Google Maps -->

      <div class="col-lg-6 d-flex flex-column" data-aos="fade-up" data-aos-delay="300">
        <div class="flex-fill bg-light p-5 shadow-sm rounded">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="php-email-form">
            <div class="row gy-4">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Nombre:</label>
                  <input id="name" type="text" formControlName="name" class="form-control" placeholder="Tu Nombre"
                    required>
                  <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"
                    class="invalid-feedback d-block">
                    El nombre es requerido.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Correo Electrónico:</label>
                  <input id="email" type="email" formControlName="email" class="form-control" placeholder="Tu Email"
                    required>
                  <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
                    class="invalid-feedback d-block">
                    <div *ngIf="contactForm.get('email')?.errors?.['required']">El correo electrónico es requerido.
                    </div>
                    <div *ngIf="contactForm.get('email')?.errors?.['email']">El correo electrónico no es válido.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="subject">Asunto:</label>
                  <input id="subject" type="text" formControlName="subject" class="form-control" placeholder="Asunto"
                    required>
                  <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched"
                    class="invalid-feedback d-block">
                    El asunto es requerido.
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="message">Mensaje:</label>
                  <textarea id="message" formControlName="message" rows="5" class="form-control" placeholder="Mensaje"
                    required></textarea>
                  <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
                    class="invalid-feedback d-block">
                    El mensaje es requerido.
                  </div>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <button type="submit" [disabled]="loading" class="btn btn-primary">Enviar Mensaje</button>
                <div *ngIf="loading" class="loading">Enviando...</div>
                <div *ngIf="sentMessage" class="alert alert-success mt-3">Tu mensaje ha sido enviado exitosamente.</div>
                <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- End Contact Form -->
    </div>
  </div>
</section><!-- /Contact Section -->
}@placeholder {
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="bg-light p-5 shadow-sm rounded">
        <p class="text-center text-muted font-weight-bold">Cargando...</p>
        <div class="spinner-border text-primary d-block mx-auto" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
    </div>
  </div>
</div>

}