.contact .info-item {
  transition: transform 0.3s ease-in-out;
}

.contact .info-item:hover {
  transform: translateY(-10px);
}

@media (max-width: 767px) {
  .contact .info-item {
    margin-bottom: 20px;
  }

  .contact-container {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact .info-item {
    margin-bottom: 30px;
  }

  .contact-container {
    padding: 30px;
  }
}

@media (min-width: 992px) {
  .contact .info-item {
    margin-bottom: 40px;
  }

  .contact-container {
    padding: 40px;
  }
}
