/* You can add global styles to this file, and also import other style files */
.mt-150 {
  margin-top: 150px;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.fixed-corner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.fixed-corner a {
  display: block;
  text-align: center;
}

.fixed-corner a i {
  display: block;
  font-size: 100px;
}

@media (max-width: 600px) {
  .fixed-corner {
    bottom: 10px;
    right: 10px;
  }

  .fixed-corner a i {
    font-size: 3rem;
  }
}
